#!/bin/sh
sudo apt-get update
sudo apt-get install gcc zsh python3-pip python3-virtualenvwrapper  build-essential
git clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions
sudo pip install virtualenvwrapper

git config --global user.email "oyvind.bergrud@storebrand.no"
git config --global user.name "Øyvind Bergerud"

# fzf
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install --all --key-bindings --completion --update-rc --no-bash --no-fish

git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.zsh/zsh-syntax-highlighting

# make src
mkdir $HOME/src

# starship
curl -sS https://starship.rs/install.sh | sh -s -- -y

# change shell
chsh -s /bin/zsh

# install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"


/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install az kubectl kubectx

